<div class="a-layout--vertical">
  <div class="a-layout__panel a-toolbar header-style is-fixed bb">
    <div class="a-toolbar__group">
      <div class="a-toolbar__group__item slim">
        <strong>Group {{title}}</strong>
      </div>
    </div>

    <div class="a-toolbar__group">
      <div class="a-toolbar__group__item slim">
        <small>Advancing:</small>
      </div>

      {{#if winner}}
        <div class="a-toolbar__group__item stretch-self slim">
          <img {{bind-attr src="winner.flagImage"}} class="small-flag">
        </div>
      {{/if}}

      {{#if runnerUp}}
        <div class="a-toolbar__group__item stretch-self slim">
          <img {{bind-attr src="runnerUp.flagImage"}} class="small-flag">
        </div>
      {{/if}}
    </div>
  </div>

  {{#each team in teams}}
    <div class="team a-layout__panel--full a-bar loose bb--listed a-switch">

      {{#if team.isWinner}}
        <div class="mr">1:</div>
      {{else}}
        {{#if team.isRunnerUp}}
          <div class="mr">2:</div>
        {{else}}
          <img {{bind-attr src="team.flagImage"}} class="small-flag mr">
        {{/if}}
      {{/if}}

      <div class="a-switch__default">
        <div class="mr--slim">{{team.name}}</div>
        <div>
          {{#if team.fifaRank}}<small>[{{team.fifaRank}}]</small>{{/if}}
        </div>
      </div>

      <div class="a-switch__content a-button__group">
        <div {{action "advanceTeam" team "winners"}} class="a-button">
          <div class="a-button__body">Winner</div>
        </div>

        <div {{action "advanceTeam" team "runnerUps"}} class="a-button">
          <div class="a-button__body">Runner up</div>
        </div>
      </div>

    </div>
  {{/each}}
</div>
