<div class="a-layout--vertical">
  <div class="a-layout__panel--half a-bar--space-around bb">
    <div class="stage-header">
      <span class="icon-trophy mr--slim"></span>
      <img {{bind-attr src="user.finalWinner.flagImage"}} class="small-flag mr">

      <span class="icon-star mr--slim"></span>
      <img {{bind-attr src="runnerUp.flagImage"}} class="small-flag mr">

      <span class="icon-star-empty mr--slim"></span>
      <img {{bind-attr src="user.thirdPlaceWinner.flagImage"}} class="small-flag">
    </div>

    <div class="link-next center__wrapper">
      {{#if readyToMoveOn}}
        <div {{action "moveOn"}} class="a-button">
          <div class="a-button__icon icon-flag"></div>
          <div class="a-button__body">Complete</div>
        </div>
      {{else}}
        <div class="small">Place your bets</div>
      {{/if}}
    </div>
  </div>

  <div class="a-layout__wrapper a-layout__panel--double">
    <div class="a-layout">

      <div class="a-layout__wrapper a-layout__panel--full mb--big--listed">
        <div class="a-layout">
          <div class="a-layout__wrapper a-layout__panel--double br">
            <div class="a-layout--vertical">

              <div class="a-layout__panel is-fixed slim header-style bb text-center">
                Final
              </div>
              
              {{#each team in finalTeams}}
                <div class="a-layout__panel--full center__wrapper a-switch bb--listed">

                  <img {{bind-attr src="team.flagImage"}} class="small-flag mr">

                  <div class="a-switch__default">
                    <div class="mr--slim">{{team.name}}</div>
                    <div>
                      {{#if team.fifaRank}}<small>[{{team.fifaRank}}]</small>{{/if}}
                    </div>
                  </div>

                  <div class="a-switch__content a-button__group">
                    <div {{action "selectWinner" team}} class="a-button">
                      <div class="a-button__body">Winner</div>
                    </div>
                  </div>

                </div>
              {{/each}}

            </div>
          </div>

          <div class="a-layout__wrapper a-layout__panel--full">
            <div class="a-layout--vertical">
              
              <div class="a-layout__panel is-fixed slim header-style bb text-center">
                Third Place
              </div>

              {{#each team in thirdPlaceTeams}}
                <div class="a-layout__panel--full center__wrapper a-switch bb--listed">

                  <img {{bind-attr src="team.flagImage"}} class="small-flag mr">

                  <div class="a-switch__default">
                    <div class="mr--slim">{{team.name}}</div>
                    <div>
                      {{#if team.fifaRank}}<small>[{{team.fifaRank}}]</small>{{/if}}
                    </div>
                  </div>

                  <div class="a-switch__content a-button__group">
                    <div {{action "selectThirdPlaceWinner" team}} class="a-button">
                      <div class="a-button__body">Winner</div>
                    </div>
                  </div>

                </div>
              {{/each}}

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
