<div class="a-layout--vertical">
  <div class="a-layout__panel--half a-bar--space-around">

    <div class="stage-header">{{currentPlayoff.name}}</div>

    <div class="link-next center__wrapper">
      {{#if readyToMoveOn}}
        <div {{action "moveOn"}} class="a-button">
          <div class="a-button__icon icon-flag"></div>
          <div class="a-button__body">{{nextPlayoff.name}}</div>
        </div>
      {{else}}
        <div class="small">Place your bets</div>
      {{/if}}
    </div>

  </div>

  <div class="a-layout__wrapper a-layout__panel--double">
    <div class="a-layout--vertical">

      {{#each part in matchupParts}}
        <div class="a-layout__wrapper a-layout__panel--full mb--big--listed">
          <div class="a-layout">

            {{#each match in part}}
              {{a-matchup teams=match.teams
                          order=match.order
                          winners=userStageWinners
                          losers=userStageLosers
                          classNames="a-layout__panel--full mr--big--listed br--listed bl--listed bt bb"}}
            {{/each}}

          </div>
        </div>
      {{/each}}

    </div>
  </div>
</div>
