<div class="a-layout--vertical">

  <div class="a-layout__panel--full center__wrapper bb">
    <div>
      <h2 class="text-center">
        {{name}} a.k.a

        {{#if nickname}}
          <i {{action "unsetNickname" on="doubleClick"}}>
            {{nickname}}
          </i>
        {{else}}
          <form {{action "setNickname" on="submit"}} class="form-inline">
            {{input id="nickname"
                  type="text"
                  valueBinding="nicknameInput"
                  placeholder="Nickname"
                  classNames="a-input"
                  required=""}}
          </form>
        {{/if}}
      </h2>
    </div>
  </div>

  <div class="a-layout__panel is-fixed slim bb header-style text-center">
    World Cup 2014 as predicted by {{given_name}}
  </div>

  <div class="a-playoff-tree a-layout__wrapper a-layout__panel--double">
    <div class="a-layout">
      
      {{!-- Groups --}}
      <div class="a-layout__wrapper a-layout__panel--full br">
        <div class="a-layout">

          {{!-- Group Winners --}}
          <div class="a-layout__wrapper a-layout__panel--full">
            <div class="a-layout--vertical">
              
              {{#each team in groupWinners}}
                <div class="a-layout__panel--full center__wrapper">
                  <img {{bind-attr src="team.flagImage"}} class="small-flag">
                </div>
              {{/each}}

            </div>
          </div>
          
          {{!-- Group Runner Ups --}}
          <div class="a-layout__wrapper a-layout__panel--full">
            <div class="a-layout--vertical">
              
              {{#each team in groupRunnerUps}}
                <div class="a-layout__panel--full center__wrapper">
                  <img {{bind-attr src="team.flagImage"}} class="small-flag">
                </div>
              {{/each}}

            </div>
          </div>

        </div>
      </div>
      
      {{!-- Round of 16 Winners --}}
      <div class="a-layout__wrapper a-layout__panel--full br">
        <div class="a-layout--vertical">
          
          <div class="a-layout__panel is-fixed bb slim text-center">
            Quarter Finals
          </div>
          
          {{#each team in round1Winners}}
            <div class="a-layout__panel--full center__wrapper">
              <img {{bind-attr src="team.flagImage"}} class="small-flag">
            </div>
          {{/each}}

        </div>
      </div>

      {{!-- Quarter Final Winners --}}
      <div class="a-layout__wrapper a-layout__panel--full br">
        <div class="a-layout--vertical">

          <div class="a-layout__panel is-fixed bb slim text-center">
            Semi Finals
          </div>
          
          {{#each team in round2Winners}}
            <div class="a-layout__panel--full center__wrapper">
              <img {{bind-attr src="team.flagImage"}} class="small-flag">
            </div>
          {{/each}}

        </div>
      </div>

      {{!-- Semi Final Winners --}}
      <div class="a-layout__wrapper a-layout__panel--full br">
        <div class="a-layout--vertical">

          <div class="a-layout__panel is-fixed bb slim text-center">
            Final
          </div>

          {{#each team in round3Winners}}
            <div class="a-layout__panel--full center__wrapper">
              <img {{bind-attr src="team.flagImage"}} class="small-flag">
            </div>
          {{/each}}

        </div>
      </div>

      {{!-- Final --}}
      <div class="a-layout__wrapper a-layout__panel--full">
        <div class="a-layout--vertical">

          <div class="a-layout__panel is-fixed bb slim text-center">
            Winner
          </div>

          <div class="a-layout__panel--full center__wrapper">
            <img {{bind-attr src="finalWinner.flagImage"}} class="big-flag">
          </div>

        </div>
      </div>

    </div>
  </div>

</div>
